/* reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem 'Raleway',sans-serif;
    margin: 0;
    background-color: #080303;
    line-height: 1.6;
    text-rendering:optimizeLegibility;
    margin-left: 3%;
    color: #FFFFFF;
}
h1,h2,h3,h4,p,ul,ol, figure{
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 200;
}
*{
    box-sizing: border-box;
}
img{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}
.list_img{
    max-width: 55rem;
    margin: 4rem auto;
}

.list_img ul{
    font-size: 0;
}

.list_img ul li{
    display: inline-block;
    margin: .5rem;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}

button, input[type="submit"]{
    padding: 0;
    background-color: transparent;
    font-size: inherit;
    border: 0;
}
input,textarea{
    border: 0;
}
h1, footer, form, a {
    text-align: center;
    color: #ff0000;
    margin-top: 2%;
}
form div{
    line-height: 5rem;
}
#rep h3{
    text-align: center;
}
#rep p{
    border:1px;
    border-style:solid;
    border-color:#FFFFFF;
    text-align: center;
    margin: 1%;
    padding: 3%;
    margin-left: 25%;
    margin-right: 25%;
}
#formremp{
    text-align: center;
    border-style: solid;
    border-color: #FFFFFF;
}
header img {
    margin-right: 5rem;
    margin-left: 5rem;
    width: 10rem;
    float: left;
}
h1 {
    border:1px;
    border-style:solid;
    border-color:#FFFFFF;
    text-align: center;
    margin: 2%;
    padding: 2%;
    margin-left: 22%;
    margin-right: 22%;
}
main section a{
    background-color: #ff0000;
    color: #fafafa;
    padding: 1.5rem 9rem;
}
#formulaire {
    text-align: center;
}